@charset "utf-8";
/* CSS DOCUMENT */
*{
padding:0;
margin:0;
}

html, body{
height:100%;
width:100%;
}

#contaner{
width:900px;
top: -20px;
margin:0 auto;
background-color:#FFF;
min-height:100%;
position:relative;
}

#html #contaner{
height:100%;
}
